body {
    max-width: 90%;
    margin: auto;
    background-color: #efa1af;
}

.header{
    background-color:#5ca5cf ;
    border-radius: 5px;
}

.header > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:salmon;
    letter-spacing:5px
}

.facts-link, place-link{
    margin-top:5px;
}