body {
    max-width: 90%;
    margin: auto;
    background-color: #efa1af;
}

.header{
    background-color:#5ca5cf ;
    border-radius: 5px;
}

.header > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color:salmon;
    letter-spacing:5px
}

.facts-link, .place-link{
    display:flex;
    justify-content: center;
    width: 300px;
    margin: 20px auto;

}



a{
    text-align: center;
    width:200px;
    text-decoration: none;
    color:ghostwhite;
    background-color: #5ca5cf;
    display: inline-block
}

a:hover{
    width:220px;
    height:20px;
    text-decoration: underline;
    
    
}